<button pButton type="button" label="Click" ></button>
<p-button label="Disabled" disabled="true"></p-button>
<button pButton pRipple type="button" label="Secondary" class="p-button-raised p-button-secondary"></button>
<button pButton pRipple type="button" label="Primary" class="p-button-rounded"></button>
<button pButton pRipple type="button" label="Primary" class="p-button-raised p-button-text"></button>
<button pButton pRipple type="button" label="Plain" class="p-button-raised p-button-text p-button-plain"></button>

<h5>Outlined Buttons</h5>
<button pButton pRipple type="button" label="Primary" class="p-button-outlined"></button>
<button pButton pRipple type="button" label="Secondary" class="p-button-outlined p-button-secondary"></button>
<button pButton pRipple type="button" label="Warning" class="p-button-warning p-button-text"></button>

<button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded"></button>
<button pButton pRipple type="button" icon="pi pi-bookmark" class="p-button-rounded p-button-secondary"></button>
<button pButton pRipple type="button" icon="pi pi-filter" class="p-button-rounded p-button-text p-button-plain"></button>

<h5>Rounded and Outlined Icon Buttons</h5>
<button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-outlined"></button>

<h5>Badges</h5>
<p-button label="Emails" badge="8"></p-button>
<p-button label="Messages" icon="pi pi-users" styleClass="p-button-warning" badge="8" badgeClass="p-badge-danger"></p-button>

<h5>taosts buttons</h5>
<p-toast></p-toast>


<div class="card">
    <h5>Severities</h5>
    <button type="button" pButton pRipple (click)="showSuccess()" label="Submit" class="p-button-info"></button>
</div>

<!---------------messages--------------->

<h5>Dynamic</h5>
<button type="button" pButton pRipple (click)="addMessages()" label="Show" class="p-mr-2"></button>
<button type="button" pButton pRipple (click)="clearMessages()" icon="pi pi-times" label="Clear" class="p-button-secondary"></button>

<p-messages [(value)]="msgs2" [enableService]="false"></p-messages>
<!---------------------chart---------->

<p-chart type="doughnut" [data]="data"></p-chart>
<p-chart type="polarArea" [data]="data"></p-chart>

<!-------------------------------progress bar-------------->
<p-toast></p-toast>

<div class="card">
    <h5>Dynamic</h5>
    <p-progressBar [value]="value"></p-progressBar>

    <h5>Static</h5>
    <p-progressBar [value]="50"></p-progressBar>

    <h5>Indeterminate</h5>
    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
</div>

<!-------------------------spinner--------------->
<h5>Basic</h5>
<p-progressSpinner></p-progressSpinner>

<h5>Custom</h5>
<p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
<!----------------sidebar------------->
<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Left Sidebar</h1>
    <p-button type="button" (click)="visibleSidebar1 = false" label="Save" styleClass="p-button-success"></p-button>
    <p-button type="button" (click)="visibleSidebar1 = false" label="Cancel" styleClass="p-button-secondary"></p-button>
</p-sidebar>

<p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Right Sidebar</h1>
    <p-button type="button" (click)="visibleSidebar2 = false" label="Save" styleClass="p-button-success"></p-button>
    <p-button type="button" (click)="visibleSidebar2 = false" label="Cancel" styleClass="p-button-secondary"></p-button>
</p-sidebar>

<p-sidebar [(visible)]="visibleSidebar3" position="top" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Top Sidebar</h1>
    <p-button type="button" (click)="visibleSidebar3 = false" label="Save" styleClass="p-button-success"></p-button>
    <p-button type="button" (click)="visibleSidebar3 = false" label="Cancel" styleClass="p-button-secondary"></p-button>
</p-sidebar>

<p-sidebar [(visible)]="visibleSidebar4" position="bottom" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Bottom Sidebar</h1>
    <p-button type="button" (click)="visibleSidebar4 = false" label="Save" styleClass="p-button-success"></p-button>
    <p-button type="button" (click)="visibleSidebar4 = false" label="Cancel" styleClass="p-button-secondary"></p-button>
</p-sidebar>

<p-sidebar [(visible)]="visibleSidebar5" [fullScreen]="true" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Full Screen Sidebar</h1>
    <p-button type="button" (click)="visibleSidebar5 = false" label="Save" styleClass="p-button-success"></p-button>
    <p-button type="button" (click)="visibleSidebar5 = false" label="Cancel" styleClass="p-button-secondary"></p-button>
</p-sidebar>

<p-button type="button" (click)="visibleSidebar1 = true" icon="pi pi-arrow-right"></p-button>
<p-button type="button" (click)="visibleSidebar2 = true" icon="pi pi-arrow-left"></p-button>
<p-button type="button" (click)="visibleSidebar3 = true" icon="pi pi-arrow-down"></p-button>
<p-button type="button" (click)="visibleSidebar4 = true" icon="pi pi-arrow-up"></p-button>
<p-button type="button" (click)="visibleSidebar5 = true" icon="pi pi-th-large"></p-button>

<!-------------------------gallery------------------->

<p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '640px'}" [numVisible]="5"> 
    <ng-template pTemplate="item" let-item>
        <img [src]="item.previewImageSrc" style="width: 100%;" />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
        <div class="p-grid p-nogutter p-justify-center">
            <img [src]="item.thumbnailImageSrc" />
        </div>
    </ng-template>
</p-galleria>
<!----------------------------breadcrumb-------------------->
<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>

<!---------------mega menu-------------->

<h5>Horizontal</h5>
<p-megaMenu [model]="itemsmega"></p-megaMenu>

<h5>Vertical</h5>
<p-megaMenu [model]="itemsmega" orientation="vertical"></p-megaMenu>

<!---------------menubar--------------------------->
<p-menubar [model]="itemsformenu">
    <ng-template pTemplate="start">
        <img src="assets/showcase/images/primeng.svg" height="40" class="p-mr-2">
    </ng-template>
    <ng-template pTemplate="end">
        <input type="text" pInputText placeholder="Search">
    </ng-template>
</p-menubar>

<!----------------------------------menu panel----------------------->

<p-panelMenu [model]="itemsformenu" [style]="{'width':'300px'}"></p-panelMenu>

<!------------------------dorpdown-->
<h5>Basic</h5>
<p-autoComplete [(ngModel)]="selectedCountry" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [minLength]="1"></p-autoComplete>

<h5>Dropdown and Templating</h5>
<p-autoComplete [(ngModel)]="selectedCountryAdvanced" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [dropdown]="true">
    <ng-template let-country pTemplate="item">
        <div class="country-item">
            <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" />
            <div>{{country.name}}</div>
        </div>
    </ng-template>
</p-autoComplete>

<h5>Multiple</h5>
<span class="p-fluid">
    <p-autoComplete [(ngModel)]="selectedCountries" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [multiple]="true">
    </p-autoComplete>
</span>


<!---------------------------------calender--------------->
<h5>Popup</h5>
<div class="p-fluid p-grid p-formgrid">
    <div class="p-field p-col-12 p-md-4">
        <label for="basic">Basic</label>
        <p-calendar inputId="basic" [(ngModel)]="date1"></p-calendar>
    </div>

  

    <div class="p-field p-col-12 p-md-4">
        <label for="icon">Icon</label>
        <p-calendar [(ngModel)]="date3" [showIcon]="true" inputId="icon"></p-calendar>
    </div>

    <div class="p-field p-col-12 p-md-4">
        <label for="min-max">Min-Max</label>
        <p-calendar [(ngModel)]="date4" [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="true" inputId="min-max"></p-calendar>
    </div>

    <div class="p-field p-col-12 p-md-4">
        <label for="disabledays">Disable Days</label>
        <p-calendar [(ngModel)]="date5" [disabledDates]="invalidDates" [disabledDays]="[0,6]" [readonlyInput]="true" inputId="disabledays"></p-calendar>
    </div>

    <div class="p-field p-col-12 p-md-4">
        <label for="navigators">Navigators</label>
        <p-calendar [(ngModel)]="date6" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" inputId="navigators"></p-calendar>
    </div>

    <div class="p-field p-col-12 p-md-4">
        <label for="time">Time</label>
        <p-calendar [(ngModel)]="date7" [showTime]="true" inputId="time"></p-calendar>
    </div>

    <div class="p-field p-col-12 p-md-4">
        <label for="timeonly">Time Only</label>
        <p-calendar [(ngModel)]="date8" [timeOnly]="true" inputId="timeonly"></p-calendar>
    </div>

    <div class="p-field p-col-12 p-md-4">
        <label for="multiple">Multiple</label>
        <p-calendar [(ngModel)]="dates" selectionMode="multiple" [readonlyInput]="true" inputId="multiple"></p-calendar>
    </div>

    <div class="p-field p-col-12 p-md-4">
        <label for="range">Range</label>
        <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" inputId="range"></p-calendar>
    </div>

    <div class="p-field p-col-12 p-md-4">
        <label for="buttonbar">Button Bar</label>
        <p-calendar [(ngModel)]="date9" showButtonBar="true" inputId="buttonbar"></p-calendar>
    </div>

    <div class="p-field p-col-12 p-md-4">
        <label for="template">Date Template</label>
        <p-calendar [(ngModel)]="date10" inputId="template">
            <ng-template pTemplate="date" let-date>
                <span [ngStyle]="{textDecoration: (date.day < 21 && date.day > 10) ? 'line-through' : 'inherit'}">{{date.day}}</span>
            </ng-template>
        </p-calendar>
    </div>

    <div class="p-field p-col-12 p-md-4">
        <label for="multiplemonths">Multiple Months</label>
        <p-calendar [(ngModel)]="date11" [numberOfMonths]="3" inputId="multiplemonths"></p-calendar>
    </div>

    <div class="p-field p-col-12 p-md-4">
        <label for="monthpicker">Month Picker</label>
        <p-calendar [(ngModel)]="date12" view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030" [readonlyInput]="true" inputId="monthpicker"></p-calendar>
    </div>

    <div class="p-field p-col-12 p-md-4">
        <label for="touchui">Touch UI</label>
        <p-calendar [(ngModel)]="date13" [touchUI]="true" [readonlyInput]="true" inputId="touchui"></p-calendar>
    </div>
</div>

<h5>Inline</h5>
<p-calendar [(ngModel)]="date14" [inline]="true" [showWeek]="true"></p-calendar>

<!---------------------------------colorpicker------->
<h5>Inline</h5>
<p-colorPicker [(ngModel)]="color1" [inline]="true"></p-colorPicker>


<h5>Overlay</h5>
<p-colorPicker [(ngModel)]="color2"></p-colorPicker>


<!--------------------------------input group------>
<h5>Addons</h5>
<div class="p-grid p-fluid">
    <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText placeholder="Username">         
        </div>
    </div>
    
    <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">$</span>
            <input type="text" pInputText placeholder="Price">   
            <span class="p-inputgroup-addon">.00</span>      
        </div>
    </div>
            
    <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">www</span>
            <input type="text" pInputText placeholder="Website">      
        </div>
    </div>
</div>
    
<h5>Multiple Addons</h5>
<div class="p-grid">
    <div class="p-col-12">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-tags" style="line-height: 1.25;"></i></span>  
            <span class="p-inputgroup-addon"><i class="pi pi-shopping-cart" style="line-height: 1.25;"></i></span>   
            <input type="text" pInputText placeholder="Price"> 
            <span class="p-inputgroup-addon">$</span>  
            <span class="p-inputgroup-addon">.00</span>      
        </div>
    </div>
</div>

<h5>Button Addons</h5>
<div class="p-grid p-fluid">
    <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
            <button type="button" pButton pRipple label="Search"></button>
            <input type="text" pInputText placeholder="Keyword">         
        </div>
    </div>
    
    <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Keyword">   
            <button type="button" pButton pRipple icon="pi pi-refresh" styleClass="p-button-warn"></button>      
        </div>
    </div>
            
    <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
            <button type="button" pButton pRipple icon="pi pi-check" styleClass="p-button-success"></button>    
            <input type="text" pInputText placeholder="Vote">   
            <button type="button" pButton pRipple icon="pi pi-times" styleClass="p-button-danger"></button>      
        </div>
    </div>
</div>

<h5>Checkbox and RadioButton</h5>
<div class="p-grid p-fluid">
    <div class="p-col-12 p-md-12">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><p-checkbox></p-checkbox></span>
            <input type="text" pInputText placeholder="Username">         
        </div>
    </div>
    
    <div class="p-col-12 p-md-12">
        <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Price">   
            <span class="p-inputgroup-addon"><p-radioButton></p-radioButton></span>      
        </div>
    </div>
            
    <div class="p-col-12 p-md-12">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><p-checkbox></p-checkbox></span>
            <input type="text" pInputText placeholder="Website">      
            <span class="p-inputgroup-addon"><p-radioButton></p-radioButton></span> 
        </div>
    </div>
</div>

<!---------------------------input text----------->
<h5>Basic</h5>
<input type="text" pInputText [(ngModel)]="value21"> 
<span class="p-ml-2">{{value1}}</span>

<h5>Float Label</h5>
<span class="p-float-label">
    <input id="float-input" type="text" pInputText [(ngModel)]="value22"> 
    <label for="float-input">Username</label>
</span>

<h5>Left Icon</h5>
<span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input type="text" pInputText placeholder="Search" [(ngModel)]="value23" />
</span>

<h5>Right Icon</h5>
<span class="p-input-icon-right">
    <i class="pi pi-spin pi-spinner"></i>
    <input type="text" pInputText />
</span>

<h5>Help Text</h5>
<div class="p-field">
    <label for="username1">Username</label>
    <input id="username1" type="username" aria-describedby="username1-help" pInputText [(ngModel)]="value24" />
    <small id="username1-help">Enter your username to reset your password.</small>
</div>

<h5>Invalid</h5>
<div class="p-field">
    <label for="username2">Username</label>
    <input id="username2" type="username" aria-describedby="username2-help" class="ng-invalid ng-dirty" pInputText />
    <small id="username2-help" class="p-invalid">Username is not available.</small>
</div>


<h5>Disabled</h5>
<input id="disabled-input" type="text" pInputText [disabled]="disabled" [(ngModel)]="value25" />

<h5>Sizes</h5>
<div class="sizes">
    <input type="text" class="p-inputtext-sm" placeholder="Small" pInputText />
    <input type="text" placeholder="Normal" pInputText />
    <input type="text" class="p-inputtext-lg" placeholder="Large"  pInputText />
</div>
<!------------------------text area---->
<h5>Default</h5>
<textarea rows="5" cols="30" pInputTextarea></textarea>

<h5>AutoResize</h5>
<textarea rows="5" cols="30" pInputTextarea autoResize="autoResize"></textarea>

<!--------------------number---------->
<div class="p-grid p-fluid">
    <h5>Numerals</h5>
    <div class="p-grid p-fluid">
        <div class="p-field p-col-12 p-md-3">
            <label for="integeronly">Integer Only</label>
            <p-inputNumber inputId="integeronly" [(ngModel)]="value1">
            </p-inputNumber>
        </div>
        <div class="p-field p-col-12 p-md-3">
            <label for="withoutgrouping">Without Grouping</label>
            <p-inputNumber [(ngModel)]="value2" mode="decimal" inputId="withoutgrouping" [useGrouping]="false">
            </p-inputNumber>
        </div>
        <div class="p-field p-col-12 p-md-3">
            <label for="minmaxfraction">Min-Max Fraction Digits</label>
            <p-inputNumber [(ngModel)]="value3" inputId="minmaxfraction" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5">
            </p-inputNumber>
        </div>
        <div class="p-field p-col-12 p-md-3">
            <label for="minmax">Min-Max Boundaries</label>
            <p-inputNumber [(ngModel)]="value4" inputId="minmax" inputId="minmax" mode="decimal" [min]="0" [max]="100">
            </p-inputNumber>
        </div>
        <div class="p-field p-col-12 p-md-3">
            <label for="locale-user">User Locale</label>
            <p-inputNumber [(ngModel)]="value5" inputId="locale-user" [minFractionDigits]="2">
            </p-inputNumber>
        </div>
        <div class="p-field p-col-12 p-md-3">
            <label for="locale-us">United States Locale</label>
            <p-inputNumber [(ngModel)]="value6" inputId="locale-us" mode="decimal" locale="en-US" [minFractionDigits]="2">
            </p-inputNumber>
        </div>
        <div class="p-field p-col-12 p-md-3">
            <label for="locale-german">German Locale</label>
            <p-inputNumber [(ngModel)]="value7" inputId="locale-german" mode="decimal" locale="de-DE" [minFractionDigits]="2">
            </p-inputNumber>
        </div>
        <div class="p-field p-col-12 p-md-3">
            <label for="locale-indian">Indian Locale</label>
            <p-inputNumber [(ngModel)]="value8" inputId="locale-indian" mode="decimal" locale="en-IN" [minFractionDigits]="2">
            </p-inputNumber>
        </div>
    </div>
    <h5>Currency</h5>
    <div class="p-grid p-fluid">
        <div class="p-field p-col-12 p-md-3">
            <label for="currency-us">United States</label>
            <p-inputNumber [(ngModel)]="value9" inputId="currency-us" mode="currency" currency="USD" locale="en-US">
            </p-inputNumber>
        </div>
        <div class="p-field p-col-12 p-md-3">
            <label for="currency-germany">Germany</label>
            <p-inputNumber [(ngModel)]="value10" mode="currency" inputId="currency-germany" currency="EUR" locale="de-DE">
            </p-inputNumber>
        </div>
        <div class="p-field p-col-12 p-md-3">
            <label for="currency-india">India</label>
            <p-inputNumber [(ngModel)]="value11" mode="currency" inputId="currency-india" currency="INR" currencyDisplay="code" locale="en-IN">
            </p-inputNumber>
        </div>
        <div class="p-field p-col-12 p-md-3">
            <label for="currency-japan">Japan</label>
            <p-inputNumber [(ngModel)]="value12" mode="currency" inputId="currency-japan" currency="JPY" locale="jp-JP">
            </p-inputNumber>
        </div>
    </div>
    <h5>Prefix and Suffix</h5>
    <div class="p-grid p-fluid">
        <div class="p-field p-col-12 p-md-3">
            <label for="mile">Mile</label>
            <p-inputNumber [(ngModel)]="value13" inputId="mile" suffix=" mi">
            </p-inputNumber>
        </div>
        <div class="p-field p-col-12 p-md-3">
            <label for="percent">Percent</label>
            <p-inputNumber [(ngModel)]="value14" inputId="percent" prefix="%">
            </p-inputNumber>
        </div>
        <div class="p-field p-col-12 p-md-3">
            <label for="expiry">Expiry</label>
            <p-inputNumber [(ngModel)]="value15" inputId="expiry" prefix="Expires in " suffix=" days">
            </p-inputNumber>
        </div>
        <div class="p-field p-col-12 p-md-3">
            <label for="temperature">Temperature</label>
            <p-inputNumber [(ngModel)]="value16" prefix="↑ " inputId="temperature" suffix="℃" [min]="0" [max]="40">
            </p-inputNumber>
        </div>
    </div>
    <h5>Buttons</h5>
    <div class="p-grid p-fluid">
        <div class="p-field p-col-12 p-md-3">
            <label for="stacked">Stacked</label>
            <p-inputNumber [(ngModel)]="value17" [showButtons]="true" inputId="stacked" mode="currency" currency="USD">
            </p-inputNumber>
        </div>
        <div class="p-field p-col-12 p-md-3">
            <label for="horizontal">Horizontal with Step</label>
            <p-inputNumber [(ngModel)]="value18" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="0.25"
            decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" mode="currency" currency="EUR">
            </p-inputNumber>
        </div>
        <div class="p-field p-col-12 p-md-3">
            <label for="minmax-buttons">Min-Max Boundaries</label>
            <p-inputNumber [(ngModel)]="value20" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100">
            </p-inputNumber>
        </div>
    </div>
    <div class="p-field p-col-12 p-md-3">
        <label for="vertical" style="display: block">Vertical</label>
        <p-inputNumber [(ngModel)]="value19" [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical"
        decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
        </p-inputNumber>
    </div>

    <!-------------------------------------listbox-->
    <h5>Single</h5>
    <p-listbox [options]="cities1" [(ngModel)]="selectedCity1" optionLabel="name" [style]="{'width':'15rem'}"></p-listbox>
    
    <h5>Advanced with Templating, Filtering and Multiple Selection</h5>
    <p-listbox [options]="countries1" [(ngModel)]="selectedCountries1" [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="name" [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}">
        <ng-template let-country pTemplate="item">
            <div class="country-item">
                <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" />
                <div>{{country.name}}</div>
            </div>
        </ng-template>
    </p-listbox>

    <!----------------------------split button------------->
    <p-toast [style]="{marginTop: '80px'}"></p-toast>

<h5>Basic</h5>
<p-splitButton label="Save" icon="pi pi-plus" (onClick)="save('info')" [model]="items"></p-splitButton>

<h5>Severities</h5>
<p-splitButton label="Save" icon="pi pi-plus" (onClick)="save('info')" [model]="items" styleClass="p-button-secondary"></p-splitButton>
<p-splitButton label="Save" icon="pi pi-plus" (onClick)="save('success')" [model]="items" styleClass="p-button-success"></p-splitButton>
<p-splitButton label="Save" icon="pi pi-plus" (onClick)="save('info')" [model]="items" styleClass="p-button-info"></p-splitButton>
<p-splitButton label="Save" icon="pi pi-plus" (onClick)="save('warn')" [model]="items" styleClass="p-button-warning"></p-splitButton>
<p-splitButton label="Save" icon="pi pi-plus" (onClick)="save('warn')" [model]="items" styleClass="p-button-help"></p-splitButton>
<p-splitButton label="Save" icon="pi pi-plus" (onClick)="save('error')" [model]="items" styleClass="p-button-danger"></p-splitButton>

    
<!-------------------accordian-->
<h5>Default</h5>
<p-accordion>
    <p-accordionTab header="Header I" [selected]="true">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </p-accordionTab>
    <p-accordionTab header="Header II">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
            voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
    </p-accordionTab>
    <p-accordionTab header="Header III">
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                    cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
    </p-accordionTab>
</p-accordion>

<h5>Multiple</h5>
<p-accordion [multiple]="true">
    <p-accordionTab header="Header I">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </p-accordionTab>
    <p-accordionTab header="Header II">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
            voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
    </p-accordionTab>
    <p-accordionTab header="Header III">
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
            cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
    </p-accordionTab>
</p-accordion>
    
<h5>Programmatic</h5>
<div class="p-py-3">
    <p-button [icon]="activeState[0] ? 'pi pi-minus' : 'pi pi-plus'" (click)="toggle(0)" styleClass="p-button-text" label="Toggle 1st"></p-button>
    <p-button [icon]="activeState[1] ? 'pi pi-minus' : 'pi pi-plus'" (click)="toggle(1)" styleClass="p-button-text p-ml-2" label="Toggle 2st"></p-button>
    <p-button [icon]="activeState[2] ? 'pi pi-minus' : 'pi pi-plus'" (click)="toggle(2)" styleClass="p-button-text p-ml-2" label="Toggle 3st"></p-button>
</div>
    
<p-accordion>
    <p-accordionTab header="Header I" [(selected)]="activeState[0]">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </p-accordionTab>
    <p-accordionTab header="Header II" [(selected)]="activeState[1]">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
            voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
    </p-accordionTab>
    <p-accordionTab header="Header III" [(selected)]="activeState[2]">
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
            cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
    </p-accordionTab>
</p-accordion>

<h5>Tab Change Event</h5>
<p-accordion (onClose)="onTabClose($event)" (onOpen)="onTabOpen($event)">
    <p-accordionTab header="Header I">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </p-accordionTab>
    <p-accordionTab header="Header II">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
            voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
    </p-accordionTab>
    <p-accordionTab header="Header III">
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
            cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
    </p-accordionTab>
    <p-accordionTab header="Header IV" [disabled]="true">
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
            cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
    </p-accordionTab>
</p-accordion>

<!----------------------------divider-->
<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
    voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>

<p-divider></p-divider>

<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
    cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>

<p-divider></p-divider>

<!----------------------------filed set-->
<h5>Regular</h5>
<p-fieldset legend="Header">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</p-fieldset>

<h5>Toggleable</h5>
<p-fieldset legend="Header" [toggleable]="true">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</p-fieldset>

<!----------------------spilter-->
<h5>Horizontal</h5>
<p-splitter [style]="{'height': '300px'}" styleClass="p-mb-5">
    <ng-template>
        <div class="p-col p-d-flex p-ai-center p-jc-center">
            Panel 1
        </div>
    </ng-template>
    <ng-template>
        <div class="p-col p-d-flex p-ai-center p-jc-center">
            Panel 2
        </div>
    </ng-template>
</p-splitter>

<!--------------------------------------scroll panel;-->

<div class="p-grid">
    <div class="p-col-12 p-md-4">
        <p-scrollPanel [style]="{width: '100%', height: '200px'}">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Vitae et leo duis ut diam.
                Ultricies mi quis hendrerit dolor magna eget est lorem. Amet consectetur adipiscing elit ut.
                Nam libero justo laoreet sit amet. Pharetra massa massa ultricies mi quis hendrerit dolor magna.
                Est ultricies integer quis auctor elit sed vulputate. Consequat ac felis donec et. Tellus orci ac auctor augue mauris.
                Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus a. Tincidunt arcu non sodales neque sodales.
                Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. Sodales ut etiam sit amet nisl purus.
                Cursus sit amet dictum sit amet. Tristique senectus et netus et malesuada fames ac turpis egestas.
                Et tortor consequat id porta nibh venenatis cras sed. Diam maecenas ultricies mi eget mauris.
                Eget egestas purus viverra accumsan in nisl nisi. Suscipit adipiscing bibendum est ultricies integer.
                Mattis aliquam faucibus purus in massa tempor nec.
            </p>
        </p-scrollPanel>
    </div>
    <div class="p-col-12 p-md-4">
        <p-scrollPanel [style]="{width: '100%', height: '200px'}" styleClass="custombar1">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Vitae et leo duis ut diam.
                Ultricies mi quis hendrerit dolor magna eget est lorem. Amet consectetur adipiscing elit ut.
                Nam libero justo laoreet sit amet. Pharetra massa massa ultricies mi quis hendrerit dolor magna.
                Est ultricies integer quis auctor elit sed vulputate. Consequat ac felis donec et. Tellus orci ac auctor augue mauris.
                Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus a. Tincidunt arcu non sodales neque sodales.
                Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. Sodales ut etiam sit amet nisl purus.
                Cursus sit amet dictum sit amet. Tristique senectus et netus et malesuada fames ac turpis egestas.
                Et tortor consequat id porta nibh venenatis cras sed. Diam maecenas ultricies mi eget mauris.
                Eget egestas purus viverra accumsan in nisl nisi. Suscipit adipiscing bibendum est ultricies integer.
                Mattis aliquam faucibus purus in massa tempor nec.
            </p>
        </p-scrollPanel>
    </div>
    <div class="p-col-12 p-md-4">
        <p-scrollPanel [style]="{width: '100%', height: '200px'}" styleClass="custombar2">
            <p style="width: 600px">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Vitae et leo duis ut diam.
                Ultricies mi quis hendrerit dolor magna eget est lorem. Amet consectetur adipiscing elit ut.
                Nam libero justo laoreet sit amet. Pharetra massa massa ultricies mi quis hendrerit dolor magna.
                Est ultricies integer quis auctor elit sed vulputate. Consequat ac felis donec et. Tellus orci ac auctor augue mauris.
                Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus a. Tincidunt arcu non sodales neque sodales.
                Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. Sodales ut etiam sit amet nisl purus.
                Cursus sit amet dictum sit amet. Tristique senectus et netus et malesuada fames ac turpis egestas.
                Et tortor consequat id porta nibh venenatis cras sed. Diam maecenas ultricies mi eget mauris.
                Eget egestas purus viverra accumsan in nisl nisi. Suscipit adipiscing bibendum est ultricies integer.
                Mattis aliquam faucibus purus in massa tempor nec.
            </p>
        </p-scrollPanel>
    </div>
</div>
