<button pButton type="button" label="Click" ></button>
<p-button label="Disabled" disabled="true"></p-button>
<button pButton pRipple type="button" label="Secondary" class="p-button-raised p-button-secondary"></button>
<button pButton pRipple type="button" label="Primary" class="p-button-rounded"></button>
<button pButton pRipple type="button" label="Primary" class="p-button-raised p-button-text"></button>
<button pButton pRipple type="button" label="Plain" class="p-button-raised p-button-text p-button-plain"></button>

<h5>Outlined Buttons</h5>
<button pButton pRipple type="button" label="Primary" class="p-button-outlined"></button>
<button pButton pRipple type="button" label="Secondary" class="p-button-outlined p-button-secondary"></button>
<button pButton pRipple type="button" label="Warning" class="p-button-warning p-button-text"></button>

<button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded"></button>
<button pButton pRipple type="button" icon="pi pi-bookmark" class="p-button-rounded p-button-secondary"></button>
<button pButton pRipple type="button" icon="pi pi-filter" class="p-button-rounded p-button-text p-button-plain"></button>

<h5>Rounded and Outlined Icon Buttons</h5>
<button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-outlined"></button>

<h5>Badges</h5>
<p-button label="Emails" badge="8"></p-button>
<p-button label="Messages" icon="pi pi-users" styleClass="p-button-warning" badge="8" badgeClass="p-badge-danger"></p-button>

<h5>taosts buttons</h5>
<p-toast></p-toast>


<div class="card">
    <h5>Severities</h5>
    <button type="button" pButton pRipple (click)="showSuccess()" label="Submit" class="p-button-info"></button>
</div>

<!---------------messages--------------->

<h5>Dynamic</h5>
<button type="button" pButton pRipple (click)="addMessages()" label="Show" class="p-mr-2"></button>
<button type="button" pButton pRipple (click)="clearMessages()" icon="pi pi-times" label="Clear" class="p-button-secondary"></button>

<p-messages [(value)]="msgs2" [enableService]="false"></p-messages>
<!---------------------chart---------->

<p-chart type="doughnut" [data]="data"></p-chart>
<p-chart type="polarArea" [data]="data"></p-chart>

<!-------------------------------progress bar-------------->
<p-toast></p-toast>

<div class="card">
    <h5>Dynamic</h5>
    <p-progressBar [value]="value"></p-progressBar>

    <h5>Static</h5>
    <p-progressBar [value]="50"></p-progressBar>

    <h5>Indeterminate</h5>
    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
</div>

<!-------------------------spinner--------------->
<h5>Basic</h5>
<p-progressSpinner></p-progressSpinner>

<h5>Custom</h5>
<p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
<!----------------sidebar------------->
<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Left Sidebar</h1>
    <p-button type="button" (click)="visibleSidebar1 = false" label="Save" styleClass="p-button-success"></p-button>
    <p-button type="button" (click)="visibleSidebar1 = false" label="Cancel" styleClass="p-button-secondary"></p-button>
</p-sidebar>

<p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Right Sidebar</h1>
    <p-button type="button" (click)="visibleSidebar2 = false" label="Save" styleClass="p-button-success"></p-button>
    <p-button type="button" (click)="visibleSidebar2 = false" label="Cancel" styleClass="p-button-secondary"></p-button>
</p-sidebar>

<p-sidebar [(visible)]="visibleSidebar3" position="top" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Top Sidebar</h1>
    <p-button type="button" (click)="visibleSidebar3 = false" label="Save" styleClass="p-button-success"></p-button>
    <p-button type="button" (click)="visibleSidebar3 = false" label="Cancel" styleClass="p-button-secondary"></p-button>
</p-sidebar>

<p-sidebar [(visible)]="visibleSidebar4" position="bottom" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Bottom Sidebar</h1>
    <p-button type="button" (click)="visibleSidebar4 = false" label="Save" styleClass="p-button-success"></p-button>
    <p-button type="button" (click)="visibleSidebar4 = false" label="Cancel" styleClass="p-button-secondary"></p-button>
</p-sidebar>

<p-sidebar [(visible)]="visibleSidebar5" [fullScreen]="true" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Full Screen Sidebar</h1>
    <p-button type="button" (click)="visibleSidebar5 = false" label="Save" styleClass="p-button-success"></p-button>
    <p-button type="button" (click)="visibleSidebar5 = false" label="Cancel" styleClass="p-button-secondary"></p-button>
</p-sidebar>

<p-button type="button" (click)="visibleSidebar1 = true" icon="pi pi-arrow-right"></p-button>
<p-button type="button" (click)="visibleSidebar2 = true" icon="pi pi-arrow-left"></p-button>
<p-button type="button" (click)="visibleSidebar3 = true" icon="pi pi-arrow-down"></p-button>
<p-button type="button" (click)="visibleSidebar4 = true" icon="pi pi-arrow-up"></p-button>
<p-button type="button" (click)="visibleSidebar5 = true" icon="pi pi-th-large"></p-button>

<!--------------------------rating-------------------->





